form {
  display: grid;
  max-width: 50%;
  gap: 20px;
}

label > * {
  width: 100%;
}

label div {
  /* style errors */
  color: tomato;
}

#guests {
  width: 3rem;
}

.booking_slot {
  background-color: #e0e0e0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: fit-content;
  font-weight: bold;
  color: #495e57;
}

.booking_slot_list h3 {
  margin-bottom: 1.25rem;
}

.booking_slot_list ul {
  display: grid;
  grid-template-columns: max-content max-content;
  place-content: start;
}

button[type="submit"] {
  background-color: #495e57;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
}

button[type="submit"]:hover {
  cursor: pointer;
  background-color: #3d4e48;
}

button[type="submit"]:disabled {
  background-color: #ccc; /* Change background color */
  color: #666; /* Change text color */
  cursor: not-allowed; /* Change cursor to not-allowed */
}
