.hero-section {
  max-width: 100%;
  background-color: #495e57;
  color: white;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.hero-section h1 {
  color: #f4ce14;
}

.hero-section h3 {
  font-size: 2rem;
  margin: 0 0 2rem;
  line-height: 1;
}

.hero-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 1.25rem;
}

.hero-details p {
  max-width: 450px;
}

.hero-cta,
.featured-cta {
  border-radius: 0.5rem;
  background-color: #f4ce14;
  color: black;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  font-weight: 700;
}

.hero-img {
  min-width: 250px;
  max-width: 375px;
}

.hero-img img {
  border-radius: 1rem;
  width: 100%;
  object-fit: none;
  object-position: center center;
}

/* Featured Section */

.featured-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 10%;
  margin-bottom: 4rem;
}

.featured-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.featured-cards {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

.featured-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 350px;
}

.featured-card .img-box {
  height: 200px;
  overflow: hidden;
}

.featured-cards img {
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.featured-card {
  max-width: 350px;
}

.featured-card .card-details {
  background-color: #edefee;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.food-description {
  color: #495e57;
}

.featured-card .price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  margin: 0;
  font-weight: 700;
  color: #ee9972;
  line-height: 2;
}

.featured-card a {
  font-weight: 700;
}

@media only screen and (max-width: 1400px) {
  .featured-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
